<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>CIFAR-10 Classifier</title>
</head>
<body>
    <div class="container">
        <h1>CIFAR-10 Image Classifier</h1>
        
        <nav>
            <a href="/history">View Prediction History</a>
        </nav>
        <br>

        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required>
            <button type="submit">Predict</button>
        </form>
    </div>
</body>
</html>